body {
    overflow-x: hidden;
}

.parent {
    display: flex;
    font-size: 0;
    line-height: 0;
    height: 1px;
}

.hidden {
    display: none;
}

#floating-image-container-1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    animation: fadeIn 1s ease-in-out;
    background-color: transparent;
    opacity: 0.9;
}


#floating-image-1 {
    display: none;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}



#floating-image-container-2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    animation: fadeIn 1s ease-in-out;
    background-color: transparent;
    opacity: 0.9;
}



#floating-image-2 {
    display: none;
    margin: 0;
    padding: 0;
}


#floating-image-container-3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    animation: fadeIn 1s ease-in-out;
    background-color: transparent;
    opacity: 0.9;
}



#floating-image-3 {
    display: none;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}





@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@media screen and (max-width: 767px) {

    #floating-image-1 {
        width: 50px;
        height: 50px;
    }

    #floating-image-2 {
        width: 50px;
        height: 50px;
    }

    #floating-image-3 {
        width: 50px;
        height: 50px;
    }

}

@media screen and (min-width: 767px) {

    #floating-image-1 {
        width: 100px;
        height: 100px;
    }

    #floating-image-2 {
        width: 100px;
        height: 100px;
    }

    #floating-image-3 {
        width: 100px;
        height: 100px;
    }
}
